@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

html {
  background: #202123;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}

@media (max-width: 640px) {
  .sm-hidden {
    display: none;
  }
}

details {
  & summary svg.toggle-arrow {
    transform: rotate(180deg);
  }
  height: auto;
  max-height: 44px; /* set to line height */
  transition: all 0.1s ease;
  overflow: hidden;
}
details[open] {
  max-height: 99rem;
  transition: all 1s ease;
  height: max-content;
  & summary svg.toggle-arrow {
    transform: rotate(0);
  }
}
details[disabled] summary,
details.disabled summary {
  pointer-events: none; /* prevents click events */
  user-select: none; /* prevents text selection */
}

svg.toggle-arrow {
  transition: transform 0.2s ease-in-out;
}
